[PATHS]


[API]
api_key = apikeyhere
base_url = https://your.hudu.url/api/v1/

[DATABASE]
export_con_str = mysql+pymysql://username:password@hostname:1234/dbname?charset=utf8mb4
leftovers_db_con_str = mysql+pymysql://username:password@hostname:1234/dbname?charset=utf8mb4
mang_db_con_str = mssql+pymssql://username:password@hostname:1234/dbname
glue_expt_path = ../export

[ASSET_LAYOUTS]
asset_layouts_json = ./config/asset_layouts.json
asset_layouts_output = ./config/output/existing_layouts.json

[COMPANIES]
companies_query = ./config/sql/companies.sql
companies_output = ./config/output/existing_companies.json
type_blacklist = Commma
    ,Separated
    ,list
    ,with
    ,each
    ,entry
    ,on
    ,newline
exclusive_type_blacklist = Commma
    ,Separated
    ,list
    ,with
    ,each
    ,entry
    ,on
    ,newline
